#wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .keyboard-row {
    display: flex;
    gap: 8px;
  }

  .keyboard-key {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    border: 1px solid #ccc; 
    border-radius: 4px;
    background-color: #f0f0f0; 
  }
  
  .char1, .char2 {
    width: 32px;
    text-align: center;
    user-select: none;
    padding: 2px 8px;
    font-size: 15px;
  }
  
  .char2 {
    border-bottom: 1px solid #ccc; 
  }
  
  
